<h1>Cart</h1>
<% unless current_user %>
  <section class = "notice">
    <center>
      You must <%= link_to "login", "/login" %> or <%= link_to "register", "/register" %> to checkout
    </center>
  </section>
<% end %>
<% if !@cart.items.empty? %>
  <center>
    <table class = "cart-items">
      <tr>
        <th>Item</th>
        <th>Sold By</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Discount</th>
        <th>Subtotal</th>
      </tr>
      <% @cart.items.each do |item,quantity| %>
        <tr id= "cart-item-<%=item.id%>">
          <td>
            <p align = "center">
              <span>
                <img align = "center" id="cart-image" src= <%= item.image %>>
                <%=link_to item.name, "/items/#{item.id}" %>
              </span>
            </p>
          </td>
          <td>
            <p align = "center">
              <%=link_to item.merchant.name, "/merchants/#{item.merchant.id}"%>
            </p>
          </td>
          <td>
            <p><%=number_to_currency(item.price)%></p>
          </td>
          <td>
            <center>
              <p><%= button_to "-", "/cart/#{item.id}", params: { quantity: :decrease}, method: :patch %></p>
              <p><%= quantity %></p>
              <p><%= button_to "+", "/cart/#{item.id}", params: { quantity: :increase}, method: :patch %></p>
              <p><%= link_to "Remove", "/cart/#{item.id}",method: :delete %></p>
            </center>
          </td>
          <td id= <%= "#{item.id}_discount" %>>
            <% if item.merchant.discount_eligible(quantity, item.price) > 0 %>
              <p><%= number_to_currency(item.merchant.applicable_discount(quantity, item.price)) %></p>
            <% end %>
          </td>
          <td>
            <p><%=number_to_currency(@cart.subtotal(item))%></p>
          </td>
        </tr>
      <% end %>
    </table>
    <p>Total: <%= number_to_currency(@cart.total) %></p>
    <p><%= link_to "Empty Cart", "/cart", method: :delete %></p>
    <p><%= link_to "Checkout", "/orders/new", method: :get if current_user %></p>
  </center>
<% else %>
  <h3 align= "center">Cart is currently empty</h3>
<% end %>
