<h1> Your Orders </h1>
<% @orders.each do |order| %>
  <div id= "order_<%= order.id %>">
    <h3><%=link_to "Order #: #{order.id}", "/profile/orders/#{order.id}" %></h3>
    <p>Order Placed: <%= order.created_at.strftime("%m/%d/%Y") %></p>
    <p>Order Last Updated: <%= order.updated_at.strftime("%m/%d/%Y") %></p>
    <p>Order Status: <%= order.status %></p>
    <p>Order Quantity: <%= order.total_quantity %></p>
    <p>Order Grand Total: <%= order.grandtotal %></p>
  </div>
<% end %>
