<h1>Merchant Dashboard</h1>

<%= @merchant.name %>
<%= @merchant.address %>
<%= @merchant.city %>
<%= @merchant.state %>
<%= @merchant.zip %>

<h2>Pending Orders:</h2>
<% @merchant.items.each do |item| %>
  <% item.orders.each do |order| %>
    <p>Order ID: #<%= order.id %></p>
    <p><%= link_to "View Order", "/merchant/orders/#{order.id}" %></p>
    <p>Date: <%= order.created_at %></p>
    <p>Total Quantity: <%= order.total_quantity_by_merchant(@merchant.id) %></p>
    <p>Total Value: $<%= order.total_value_by_merchant(@merchant.id) %></p>
  <% end %>
<% end %>

<%= link_to "View Merchant Items", "/merchant/items" %>

