<h1>Merchant Orders</h1>
  <% @orders.each do |order| %>
    <p><%= order.name %></p>
    <p><%= order.address %></p>
      <br/>
    <h2>Items:</h2>
      <% order.items_by_merchant(@current_user.merchant.id).each do |item| %>
      <section id= 'item-<%=item.id%>'>
        <h5>Item: <%= item.name %></h5>
        <%= image_tag item.image %>
        <h5>Price: <%= item.price %></h5>
        <h5>Quantity: <%= item.order_count %></h5>
        <% if item.fulfillable?(item.order_count) && item.item_order(order.id).status != "Fulfilled" %>
          <%= button_to "Fulfill", "/merchant/orders/#{order.id}", params: { item_order_id: item.id }, method: :post %>
        <% else %>
          <p><%= "This item can not be fulfilled" %></p>
        <% end %>
        <% if item.item_order(order.id).status == "Fulfilled" %>
          <h5>Status: <%= "Fulfilled" %></h5>
        <% end %>
      <% end %>
    <% end %>
  </section>
