<h1>Merchant Orders</h1>

  <% @orders.each do |order| %>
    <p><%= order.name %></p>
    <p><%= order.address %></p>
    <br/>
      <h2>Items:</h2>
      <% order.items_by_merchant(@current_user.merchant.id).each do |item| %>
      <h5>Item: <%= item.name %></h5>
      <%= image_tag item.image %>
      <h5>Price: <%= item.price %></h5>
      <h5>Quantity: <%= order.total_quantity %></h5>
      <% end %>
  <% end %>
