<h1><%=@user.name%></h1>

<section>
  <p>Address: <%=@user.street_address%></p>
  <p>City: <%=@user.city%></p>
  <p>State: <%=@user.state%></p>
  <p>Zip: <%=@user.zip%></p>
  <p>Email: <%=@user.email%></p>
  <%= link_to "Edit My Profile Data", "/profile/#{@user.id}/edit"%> |
  <%= link_to "Edit My Password", "/profile/#{@user.id}/password"%>
  <% if @user.order_count > 0 %>
    <%= link_to "My Orders", "profile/orders" %>
  <% end %>
</section>
